{% load i18n thumbnail %}

<div class="podcast-show-list">
    {% for show in show_list %}
        <div class="podcast-show">
            <h3><a href="{{ show.get_absolute_url }}">{{ show.title }}</a></h3>
            <a href="{{ show.original_image.url }}" rel="facebox">
                <img src="{% thumbnail show.original_image 150x150 %}" alt="{{ show.title }}" class="left" />
            </a>
            <h4>{{ show.subtitle }}</h4>
            <p>{{ show.description }}</p>
            <p><a href="{{ show.get_absolute_url }}" class="arrow-link -primary">Zur Episodenliste</a></p>
        </div>
    {% empty %}
        <h2>{% trans "There are no shows." %}</h2>
    {% endfor %}
</div>
