{% load i18n thumbnail %}

{% if show %}
    <div class="podcast-show">
        <a href="{{ show.original_image.url }}" rel="facebox">
            <img src="{% thumbnail show.original_image 150x150 %}" alt="{{ show.title }}" class="left" />
        </a>
        <h4>{{ show.subtitle }}</h4>
        <div class="show-description">{{ show.description }}</div>
        <a href="{% url 'podcasts_show_feed_rss' show_slug=show.slug mime_type='mp3' %}" class="feed-url arrow-link">RSS Feed zu diesem Podcast</a>
    </div>
    {% with show.episode_set.published as episode_list %}
        {% include "podcasting/_episode_list.html" %}
    {% endwith %}
{% else %}
    <h2>{% trans "There is no such show." %}</h2>
{% endif %}
