{% extends CMS_TEMPLATE %}

{% load cms_tags sekizai_tags static i18n %}

{% block main %}
<div class="page__container">
  <div class="page__row">

    <aside class="page__sidebar">
      {% block podcasting_sidebar %}{% endblock %}
      {% static_placeholder "podcasting_sidebar" %}
    </aside>

    <section class="page__section">
      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% block podcasting_title %}Correctiv Podcasts{% endblock %}
        </h3>
      </header>
      {% block podcasting_main %}
        {% block content %}{% endblock %}
      {% endblock %}
    </section>


  </div>
</div>

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "correctiv_podcasting/css/podcasting.css" %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% endblock %}
